@font-face
  font-family TakaoExMincho
  src url(/fonts/TakaoExMincho.ttf)

body
  width 1520px
  margin 0 auto
  font-family TakaoExMincho

.header
  z-index 2
  background-color #fff
  width 1520px
  top 0px
  box-sizing border-box
  position fixed
  padding 0px 70px
  height 140px
  border-bottom 1px solid #f2f2f2

  .logoHeader
    margin-top 38px
    width 425px
    height 60px
    display inline-block
    img
      width 100%
      height auto

  .menu
    margin-top 63px
    float right
    text-align center

    .nav
      list-style-type none

      .imageNav1
        width 50px
        height 17px
        background-image url('/images/header/nav/nav1_off.png')
        &:hover
          background-image url('/images/header/nav/nav1_on.png')

      .imageNav2
        width 60px
        height 17px
        background-image url('/images/header/nav/nav2_off.png')
        &:hover
          background-image url('/images/header/nav/nav2_on.png')

      .imageNav3
        width 80px
        height 17px
        background-image url('/images/header/nav/nav3_off.png')
        &:hover
          background-image url('/images/header/nav/nav3_on.png')

      .imageNav4
        width 69px
        height 17px
        background-image url('/images/header/nav/nav4_off.png')
        &:hover
          background-image url('/images/header/nav/nav4_on.png')

      .imageNav5
        width 76px
        height 17px
        background-image url('/images/header/nav/nav5_off.png')
        &:hover
          background-image url('/images/header/nav/nav5_on.png')

        .aNav
          display block
          height 100%
          width 100%
          text-decoration none
.main
  position relative
  zoom 1

  .slides
    margin-top 140px
    width 1520px
    height 470px
    list-style none
    zoom 1
    img
      width 100%
      height 100%

.news
  margin 0px auto
  width 1100px
  padding-bottom 72px

  .titleNews
    margin-top 40px
    text-align center

    .imageNews
      width 180px
      height 65px
      img
        width 100%
        height 100%

  .container
    width 550px
    margin-top 36px
    display inline-block
    vertical-align top

    .content
      margin-top 28px
      width 550px

      .date
        vertical-align top
        font-size 13px
        font-weight bold
        color #222
        letter-spacing 1px
        display inline-block

      .description1
        margin-left 20px
        font-size 13px
        font-weight bold
        color #222
        letter-spacing 1px
        display inline-block
        width 460px

      .description2
        margin-left 20px
        font-size 13px
        font-weight bold
        color #946FB0
        text-decoration underline
        letter-spacing 1px
        display inline-block
        width 460px

  .readmoreImage
    width 360px
    height 150px
    margin-top 72px
    margin-left 126px
    display inline-block
    vertical-align top
    img
      height 100%
      width 100%
    &:hover
      width 360px
      height 150px
      background-image url('/images/readmore_on.png')

.concept
  position relative
  width 1520px
  height 310px
  z-index 1
  background transparent url("/images/concept.jpg") repeat fixed center top
  overflow hidden

  .concept-wrapper
    width 1520px
    height 310px
    background transparent url("/images/concept_shadow.png") no-repeat scroll center top

.brand
  background-image url("/images/bg_border.png")
  padding-top 1px
  padding-bottom 20px
  margin 0px auto
  padding 0px 210px

  .titleBrand
    text-align center

    .imageBrand
      margin-top 50px
      width 200px
      height 65px
      img
        width 100%
        height 100%

  .menuBrand
    margin-top 50px
    text-align center

    .navBrand
      list-style-type none

      .imageBrandNav1
        width 95px
        height 35px
        background-image url('/images/brand/brand_nav/nav1_off.png')
        &:hover
          background-image url('/images/brand/brand_nav/nav1_on.png')

      .imageBrandNav2
        width 125px
        height 35px
        background-image url('/images/brand/brand_nav/nav2_off.png')
        &:hover
          background-image url('/images/brand/brand_nav/nav2_on.png')

      .imageBrandNav3
        width 155px
        height 35px
        background-image url('/images/brand/brand_nav/nav3_off.png')
        &:hover
          background-image url('/images/brand/brand_nav/nav3_on.png')

      .imageBrandNav4
        width 185px
        height 35px
        background-image url('/images/brand/brand_nav/nav4_off.png')
        &:hover
          background-image url('/images/brand/brand_nav/nav4_on.png')

      .imageBrandNav5
        width 125px
        height 35px
        background-image url('/images/brand/brand_nav/nav5_off.png')
        &:hover
          background-image url('/images/brand/brand_nav/nav5_on.png')

      .imageBrandNav6
        width 115px
        height 35px
        background-image url('/images/brand/brand_nav/nav6_off.png')
        &:hover
          background-image url('/images/brand/brand_nav/nav6_on.png')

      .aBrand
        display block
        height 100%
        width 100%
        text-decoration none

  .contentBrand
    margin-top 130px
    list-style-type none
    text-align center
    display block

    .element-item

    .yakitori
      margin-top 10px

    .yakitori_bar
      margin-top 10px

    .japanese
      margin-top 10px

    .sumibi-teppan
      margin-top 10px

    .italian
      margin-top 10px

.footer
  height 280px
  background-color #ec7470

  .iconFooter
    width 163px
    height 163px
    margin-top 60px
    margin-left 190px
    display inline-block
    vertical-align top
    img
      width 100%
      height 100%

  .containerFooter
    margin-left 28px
    width 1000px
    display inline-block
    vertical-align top

    .imageContact
      margin-top 60px

    .descriptionContact1
      margin-top 20px
      font-size 14px
      font-weight bold
      color white
      letter-spacing 2.5px
      display inline-block
      width 850px

    .descriptionContact2
      line-height 1.5
      font-size 12px
      font-weight bold
      color white
      letter-spacing 0.6px
      display inline-block
      width 850px

.arrow
  width 80px
  height 40px
  margin-left auto
  margin-right auto
  img
    width 100%
    height 100%

.contact
  height 500px
  background-color #424242
  margin 0px auto
  padding 0px 210px

  .leftContact
    width 50%
    float left
    vertical-align top

    .input1
      background-image url("/images/contact/asterisk.png")
      background-repeat no-repeat
      background-size 16px auto
      background-position 500px center
      padding-left 15px
      padding-right 30px
      box-sizing border-box
      width 530px
      height 50px
      margin-top 20px
      font-size 14pt
      letter-spacing 1.4px

  .rightContact
    width 50%
    float right
    vertical-align top
    padding-left 18px
    box-sizing border-box

    .input2
      background-image url("/images/contact/arrow.png")
      background-repeat no-repeat
      background-size 16px auto
      background-position 500px center
      padding-left 15px
      padding-right 30px
      box-sizing border-box
      width 530px
      height 50px
      margin-top 20px
      font-size 14pt
      letter-spacing 1.4px

    .textarea
      background-image url("/images/contact/asterisk.png")
      background-repeat no-repeat
      background-size 16px auto
      background-position 500px 15px
      padding-left 15px
      padding-right 30px
      box-sizing border-box
      width 530px
      height 190px
      margin-top 20px
      font-size 14pt
      line-height 24pt
      letter-spacing 1.4px

  .submit
    width 200px
    height 50px
    margin-left auto
    margin-right auto
    margin-top 345px
    img
      width 100%
      height 100%

.copyright
  height 50px
  background-color #676767
  margin 0px auto

  .copyrightImage
    margin 0px auto
    width 400px
    height 15px
    line-height 50px
    img
      width 100%
      height 100%

.flex-direction-nav
  margin 0
  padding 0
  list-style none

  .flex-prev
    top 305px
    left 25px
    width 140px
    height 140px

  .flex-next
    top 305px
    right 25px
    width 140px
    height 140px

  a
    display block
    position absolute
    overflow hidden
    &:before
      content url("/images/arrow_l.png")
    &.flex-next
      &:before
        content url("/images/arrow_r.png")

ul
  &.nav
    li
      padding 0px 21px
      margin-top 0px
      float left
      
  &.slides
    margin-top 140px
    padding 0px
    li
      padding 0px
      margin 0px
      float left
  &.navBrand
    li
      padding 0px 21px
      margin-top 0px
      float left
  &.contentBrand
    li
      padding-top 0px
      margin-top 0px
      float left
      width 265px

.clearfix
  zoom 1
  &:after
    clear both

.clearfix:after, .clearfix:before
  content ''
  display table

